.about-us {
  margin-top: 20px;
  padding-top: 5vh;
  margin-bottom: -4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us h2 {
  color: #333;
}


.mission-section {
  padding-left: 10vh;
  padding-bottom: 10vh;
}

.mission-section h1 {
  margin-left: -7vh;
  font-size: 50px;
  font-weight: bold;
  color: #152045;
  text-align: center;
  margin-bottom: 20px;
}

.containercards2 {
  
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18vh;
  margin-bottom: 10vh
}

.containercards3 {
  
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18vh;
  margin-top: 10vh;
  margin-bottom: 10vh
}




.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  width: 800px;
  margin: 0 20px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #26285e1f;
}

.card2 {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 15px;
  width: 200px;
  margin: 0 100px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #e5ecff;
  box-sizing: border-box;
}


.card3 {
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 15px;
  width: 200vh;
  margin: 0 40px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #35353500;
}
.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #d1d5db;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: 0.3s ease;
}


.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #4d77ff47;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate 0.6s linear alternate-reverse infinite;
  transition: 0.6s ease;
}

.image svg {
  color: #28193f;
  width: 2rem;
  height: 2rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #152045;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.title2 {
  color: #1c1c1c;
  font-size: rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.message2 {
  
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 0.2rem;
}

.actions {
  margin: 0.75rem 1rem;
}

.history {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.track {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.09);
  }
}

/* Media query to stack the cards vertically on small screens */
@media (max-width: 768px) {
  .containercards2 {
    flex-direction: column;
  }
  .card {
    margin-right: 0;
    margin-bottom: 20px;
  }
}





/* second card */


.card-container2 {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 0px;
}

.card-container2::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #13300100 0%, #00dade00 100% );
  transform: translate3d(2, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card2 {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.card2 .img-content2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #2085AB 0%, #0A2F49 100% );
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.card2 .img-content2 svg {
  width: 50px;
  height: 50px;
  fill: #212121;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card2 .content2 {
  position: absolute;
  top: -4vh;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card2 .content2 .content2para2 {
  width: 70%;
}

.card2 .content2 .heading2 {
  font-size: 40px;
  font-weight: 700;
}

.card2:hover .content2 {
  opacity: 1;
  transform: translateY(0);
}

.card2:hover .img-content2 {
  scale: 2.5;
  rotate: 30deg;
  filter: blur(7px);
}

.card2:hover .img-content2 svg {
  fill: transparent;
}

.containercards4{
margin-left: -12vh;
  margin-bottom: 10vh;

}


.containercards5 {
  position: relative;
  z-index: 0;
  border-radius: 20px;
  border: 5px solid #d5d5d5;
  width: 81%;
  height: 56vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10vh;
  margin-left: 27vh;
  margin-bottom: -40vh;
}
iframe {
  border-radius: 15px;
  
}