.navbgc{
    background-color: #152045;
    height: 13vh;

    margin-top: -3vh;

}
.containercr{
    margin: 10vh;
    background-color: #6666661e;
    border-radius: 5px;
}

.PageTitle{
    margin-top: 5vh;
    margin: 10vh;
}