.mycourses {
    
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    align-items: left;
    min-width: 97.5%;
    max-width: 97.5%;
    height: 55vh;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.11); /* Add the box-shadow property */
  }
  


  .addedcourse {
    margin: 10px;
    background-color: rgb(207, 207, 207);
    width: 472px;
    height: 200px;
    border-radius: 5px;
    
  }
  
  .addcourses {
    background-color: #fff;
    color: #888888;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    padding: 20px;
    min-width: 21vw;
    max-width:21vw;
    overflow: hidden;
 
  }
  
  .addc-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0; /* Adjust the margin as desired */
    font-size: 0.8rem;
    width: 96%;
  }
  
  .addc-form-group {
    display: flex;
    margin: 3px;
    width: 300px;
    
  }
  
  .addc-form-group label {
    display: block;
    margin: 5px;
  }
  
  .addc-form-group input,
  .addc-form-group select,
  .addc-form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: block;
    
  }
  
  .addc-btn {
    background-color: #6b58ca; /* Change the background color as desired */
    color: #fff;
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .addc-btn:hover {
    background-color: #8a72fe; /* Change the hover background color as desired */
  }
  


  

  /* SCROLLBAR STYLES */
  .addcourses::-webkit-scrollbar {
    width: 8px;
  }
  
  .addcourses::-webkit-scrollbar-thumb {
    background-color: #88888879;
    border-radius: 5px;
  }
  
  .addcourses::-webkit-scrollbar-thumb:hover {
    background-color: #55555580;
  }
  
  .addcourses::-webkit-scrollbar-track {
    background-color: #fafafa00;
  }


  .mycourses::-webkit-scrollbar {
    width: 8px;
  }
  
  .mycourses::-webkit-scrollbar-thumb {
    background-color: #88888879;
    border-radius: 5px;
  }
  
  .mycourses::-webkit-scrollbar-thumb:hover {
    background-color: #55555580;
  }
  
  .mycourses::-webkit-scrollbar-track {
    background-color: #fafafa00;
  }
  .myqueanswelist{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .answermyques{
    padding: 10px;
    background-color: #7979792d;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: auto;
    gap: 10vh;
  }