.feed {
    background: linear-gradient(rgb(1, 4, 26), rgb(0, 0, 0)), url('../images/SignupBG.jpg');
    height: 100vh;
    z-index: 10000; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .dash-container {
    height:100%;
    width: 100%;
    display: flex;
    border-radius: 10px;

  }
  
  .dash-sidebar {
    border-radius: 0 0 0 0;
    width: 220px;
    background-color: #ffffff;
    background: linear-gradient(rgba(31, 31, 31, 0.916), rgba(10, 10, 12, 0.911)), url('../images/bger1.jpg');
    background-size: cover; /* Add the background-size property */
  background-position: center;
    color: #ffffff;
    padding: 20px;
  }

  .dash-sidebar2 {
    margin-top: -10vh;
    
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 0;
    width: 15px;
  
    color: #fefafa;
    padding: 20px;
  }
  
  .dash-logo {
    
    text-align: left;
    margin-bottom: 20px;
  }

  .dash-logo h1  {
 
    margin-left: 10px;
    text-align: left;
    margin-bottom: 20px;
  }
  .dash-logo img {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .dash-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    
  }
  
  .dash-nav-item {
    display: flex;
    align-items: center; /* Align the icon and text vertically */
    border-radius: 5px;
    padding: 15px;
    color: #919191;
    text-decoration: none;
    transition: background-color 0.1s ease;
    font-size: 1.1rem;
    margin-top: 10px;
    border-radius: 20px;
    
  }
  
  /* New icon class to style the icon */
  .dash-nav-item  i {
    
    margin: 5px 15px 0px 10px;
    font-size: 1rem /* Set the size of the icon */
  }
  

 
  .dash-nav-item.active {
    border-radius: 45px;
    background-color: #a9a9a9cb;
    color: #e4e4e4; 
  }
  .dash-nav-item:hover {
    border-radius: 45px;
    background-color: #a9a9a9cb;
    color: #e4e4e4;
  }
  
  .dash-content {
    border-radius: 0px 0 0 0px;
    flex: 1;
    padding: 20px;
    /* background: linear-gradient(rgba(253, 244, 255, 0.916), rgba(242, 247, 255, 0.818)), url('../images/bger.jpg');
    background-size: cover; /* Add the background-size property */
  /* background-position: center;    */
  background-color: #ccc;
   overflow: hidden; 
    overflow-y: auto;    /* Clip the content that exceeds the container */
        /* Enable vertical scrolling when necessary */
  }
  
  

  .addc-form {
    display: flex;
    flex-direction: row;
  }
  
  /* Styling for the addc-form-group */
  .addc-form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .addc-form-group label {
    font-weight: 500;
    color: #2f2f2f;
    width: 100%;
  display: block;
  }
  
  .addc-form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100vw;
  }
  
  /* Styling for the addc-btn */
  .addc-btn {
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 23.4vw;
  }
  
  .addc-btn:hover {
    background-color: #0056b3;
  }
  