.feed {
    background: linear-gradient(rgb(1, 4, 26), rgb(0, 0, 0)), url('../images/SignupBG.jpg');
    height: 100vh;
    z-index: 10000; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dash-container {
    height:100%;
    width: 100%;
    display: flex;
    border-radius: 10px;

  }
  
  .dash-sidebar {
    border-radius: 0 0 0 0;
    width: 220px;
    background-color: #ffffff;
    /* background: linear-gradient(rgba(1, 4, 26, 0.233), rgba(0, 0, 0, 0.162)), url('../images/banner-feed.png'); */
    color: #171717;
    padding: 20px;
  }

  .dash-sidebar2 {
    margin-top: -10vh;
    
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 0;
    width: 15px;
  
    color: #171717;
    padding: 20px;
  }
  
  .dash-logo {
    
    text-align: left;
    margin-bottom: 20px;
  }

  .dash-logo h1  {
 
    margin-left: 10px;
    text-align: left;
    margin-bottom: 20px;
  }
  .dash-logo img {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .dash-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    
  }
  
  .dash-nav-item {
    display: flex;
    align-items: center; /* Align the icon and text vertically */
    border-radius: 5px;
    padding: 15px;
    color: #3c3c3c;
    text-decoration: none;
    transition: background-color 0.1s ease;
    font-size: 1.1rem;
    margin-top: 10px;
    border-radius: 20px;
    
  }
  
  /* New icon class to style the icon */
  .dash-nav-item  i {
    
    margin: 5px 15px 0px 10px;
    font-size: 1rem /* Set the size of the icon */
  }
  

 
  .dash-nav-item.active {
    border-radius: 20px;
    background-color: #283fc313;
    color: #283FC3; 
  }
  .dash-nav-item:hover {
    border-radius: 20px;
    background-color: #283fc313;
    color: #283FC3;
  }
  
  .dash-content {
    border-radius: 0px 0 0 0px;
    flex: 1;
    padding: 20px;
    background-color: #EFF0F2;
    overflow: hidden;
    overflow-y: auto;    /* Clip the content that exceeds the container */
        /* Enable vertical scrolling when necessary */
  }
  
  