.poste-bin {
  background-color: rgb(255, 255, 255);
  display: grid;
  padding: 5vh;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 35px;
  border-radius: 20px;
  max-width: 90%;
  height: 68vh;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 3vh;
  
  grid-column-start: auto;
}

.poste {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.poste:hover {
  transform: scale(1.1);
}

/* Styles for the popup */
.poste-popup {
  position: fixed;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  background-color: #dfdfdf;
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.205);
  padding: 20px;
  max-width: 400px;
  width: 90%;
  border-radius:  20px 20px 20px 20px;
  color: #000000;
  
  overflow: hidden;
  overflow-x: auto;
}

.poste-popup h3 {
  margin-top: 0;

}

.poste-popup textarea {
  border-radius:15px;
  width: 96%;
  height: 100px;
  resize: none;
  border: #fff;
  background-color: aliceblue;
  margin-bottom: 10px;
}

.poste-popup button {
  margin-right: 10px;
  background-color: rgb(87, 87, 87);
}

.poste-popup button:last-child {
  margin-right: 0;
}


.poste-content{

  background-color: rgb(221, 221, 221);
  padding: 10px;
  height: 15vh;
  border-radius:15px;
  margin-bottom: 3vh;
}

.feedd-userinfo{
  background-color: rgba(250, 235, 215, 0);
  max-width: 98%;
  display: flex;
}

.feedd-welcomenote{
  display: flex;
  background-color: rgba(182, 112, 20, 0);
  width: 53vw;
  justify-content: left;
 
 
}
.feedd-userinfo{
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: auto;
  
}
.feddprofilephoto{
  background-color: aqua;
  width: 70px;
  height: 70px;
  margin-top: 6px;
  border-radius: 45px;
  margin-right: 15px;
  
}

.feedd-userinfo h2{
  color: black;
  font-size: 1.2rem;
  margin-bottom: -1.2vh;
}

.feedd-userinfo h3{
  color: rgb(25, 25, 25);
  font-weight: 100;
  font-size: 0.9rem;
}

.feedd-welcomenote{
  margin-left: 3vw;
  margin-right: 3vw;
}


